.cont{
  font-family:'',sans-serif;
  min-height:px;
  text-align: center;
  color:white;
  padding-top: 50px;
  background-color:#14c404;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 50px;
  font-size: 70px;
  padding-bottom: 50px;
  
}

.conta {
  font-family:'',sans-serif;
  text-align: center;
  color:green;
  font-size: 50px;
  scroll-padding-bottom: 100px;

}

.flex{
  font-family:'',sans-serif;
  min-height:100px;
  color: black;
  display:flex;
  flex-wrap:wrap;
  padding:3%;
  margin-top:auto;
  flex: 1 20%;

  
 padding-top: 100px;
  background-repeat: no-repeat;
  
}
 
 

.veges{
 display: flex;
 text-align: left;
 display: inline;
 bottom: 60px;
 margin:auto;
 
 
}